<!DOCTYPE html>
<html>
  <head>
    <title>demo.html</title>
    <!-- <script type="text/javascript" src="http://d3js.org/d3.v5.min.js"></script> -->
    <meta name="description" content="placelist">
    <meta name="content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
  // https://www.stirworld.com/see-features-foster-partners-commence-work-on-icone-a-new-office-building-in-luxembourg

</script>
 <link rel="stylesheet" href="/static/game-frame-styles.css" />
<style type="text/css">

img {
width: 200px;
height: 100px;
}

h1 { font-size: 12pt; }

</style>
  </head>

 
<body id="level1">

      <div>
      <form action="" method="GET">

<select id="mySelect" name = "comment" style="width: 650px;">
  <option value="0">didn't rebook us on added flight, now have to drive from a Denver to KC....thanks!
  </option>
  <option value="1">
VirginAmerica it's really aggressive to blast obnoxious ""entertainment"" in your guests' faces &amp; they have little recourse
  </option>
  <option value="12">This is such a great deal! Already thinking about my 2nd trip to @Australia &amp; I haven't even gone on my 1st trip yet!
  </option>

</select>
<!--       <input id="query" name="query" value="Enter query here..." style="width:300px;"

        onfocus="this.value=''"> -->
      <input id="button" type="submit" class="btn btn-warning" value="情感分析" >
      <br/>
      <span> </span>
    </form>

      <p style="font-weight: bold;color: blue;">情感分析(negative,neutral,positive): {{index}}</p>
      <!-- <a href="{{ query_value }}">click here</a> -->
  </div>

  <img src="/static/scp2.jpg" class="img-fluid" alt="Responsive image">
  </body>
</html>