aiohttp
aiodns
beautifulsoup4
cchardet
dataclasses
elasticsearch
pysocks
pandas>=0.23.0
aiohttp_socks<=0.4.1
schedule
geopy
fake-useragent
googletransx
termcolor
jellyfish
Flask==1.1.2
Flask-Script
flask-wtf==0.14.2
Click
itsdangerous
Jinja2
MarkupSafe
numpy==1.18
Pillow
Werkzeug
Flask-Docs
termcolor
tensorflow==2.5.3
torch>=0.4.0
torchvision>=0.2.1
nltk
keras
scikit-learn
scipy>=1.0.1
scikit-image>=0.13.0
matplotlib>=1.5.1
tqdm>=4.28.1
jupyter
jellyfish
Flask==1.1.2
flask-wtf==0.14.2
