<h3><a href="/blogs">< item list</a></h3>
<h1>item detail</h1>
<div>
    <a href="/blogs/update/{{blog.id}}" id="{{blog.id}}">更新</a>
    <h3>{{blog.title}}</h3>
    <p>{{blog.text}}</p>

        <figure>
            <img src="/static/images/app_data/NFT{{blog.id }}.jpeg" class="img-fluid" style="height:250px;width:250px;">
        </figure>

    <a href="#" class="btn-showblock" id="{{blog.id}}">模拟eos-transaction</a>
  <br/>
  <br/>
      <a href="#" class="btn-miner" id="{{blog.id}}">模拟eos悬赏挖矿</a>
  <br/>
    <br/>
      <a href="#" class="btn-dpos" id="{{blog.id}}" style="color: green;">模拟DPOS全过程</a>
  <br/>

  <br/>
    <a href="#" class="btn-delete" id="{{blog.id}}">删除</a>
  
    
</div>

<!-- 先引入jquery，下面要用到-->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!--发送ajax请求删除物品 -->
<script type="text/javascript">
    $('a.btn-delete').on('click',function(evt){
        // 通知浏览器不要执行与事件关联的默认动作
        evt.preventDefault();
        // 获取物品ID
        var blogid = $(this).attr('id');
        $.ajax({
            // 请求URL
            url: "/blogs/" + blogid,
            // 请求方法类型
            type: "DELETE",
            contentType:"application/json",
            // 删除成功响应函数
            success:function(resp){
                // 在当前页面打开物品列表页面
                window.open("/blogs","_self");
            },
            // 删除失败响应函数
            error:function(resp){
                // 删除失败，给出错误提示
                alert("delete doc fail！详情：" + resp.message);
            }
        })
    });


    $('a.btn-showblock').on('click',function(evt){
        // 通知浏览器不要执行与事件关联的默认动作
        evt.preventDefault();
        // 获取物品ID
        var blogid = $(this).attr('id');
        $.ajax({
            // 请求URL
            url: "/show_block/" + blogid,
            // 请求方法类型
            type: "GET",
            contentType:"application/json",
            // 删除成功响应函数
            success:function(resp){
                // 在当前页面打开物品列表页面
                window.open("/blogs","_self");
            },
            // 删除失败响应函数
            error:function(resp){
                // 删除失败，给出错误提示
                alert("delete doc fail！详情：" + resp.message);
            }
        })
    });


    $('a.btn-miner').on('click',function(evt){
        // 通知浏览器不要执行与事件关联的默认动作
        evt.preventDefault();
        // 获取物品ID
        var blogid = $(this).attr('id');
        $.ajax({
            // 请求URL
            url: "/eos_miner/" + blogid,
            // 请求方法类型
            type: "GET",
            contentType:"application/json",
            // 删除成功响应函数
            success:function(resp){
                // 在当前页面打开物品列表页面
                window.open("/blogs","_self");
            },
            // 删除失败响应函数
            error:function(resp){
                // 删除失败，给出错误提示
                alert("delete doc fail！详情：" + resp.message);
            }
        })
    });

        $('a.btn-dpos').on('click',function(evt){
        // 通知浏览器不要执行与事件关联的默认动作
        evt.preventDefault();
        // 获取物品ID
        var blogid = $(this).attr('id');
        $.ajax({
            // 请求URL
            url: "/eos_dpos/" + blogid,
            // 请求方法类型
            type: "GET",
            contentType:"application/json",
            // 删除成功响应函数
            success:function(resp){
                // 在当前页面打开物品列表页面
                window.open("/blogs","_self");
            },
            // 删除失败响应函数
            error:function(resp){
                // 删除失败，给出错误提示
                alert("delete doc fail！详情：" + resp.message);
            }
        })
    });
</script>
