numpy==1.21.5
matplotlib==3.5.1
requests
flasgger
Flask
flask-marshmallow
pytest
python-dotenv
pytest-cov
flask-wtf
flask-cors==3.0.10
flask_sqlalchemy
cryptography==36.0.1
termcolor
werkzeug==2.1.2
Flask-Login==0.5.0