numpy==1.21.5
matplotlib==3.5.1
torch==1.11.0
torchvision==0.12.0
termcolor
numpy
matplotlib
click
coverage
Flask
html-similarity
itsdangerous
pandas
pytest
python-dotenv
pytest-cov
flask-wtf
flask-cors
Flask-Login
flask_sqlalchemy
requests
protobuf==3.20.1
tensorflow==2.8.0
